html.theme-dark {
  --badge-display: visible;
  --text-primary: var(--palette-light-muted, #f1b2ce);
  --brand-color: var(--palette-brand-primary, #db00ff);
  --accent-color: var(--palette-brand-secondary, #ff0070);
  --decor-color: var(--palette-brand-secondary,  #ff0070);
  --accent-alpha: var(--palette-brand-secondary-alpha, #ff007040 );
  --highlight-bg: var(--palette-dark-base, #000028);
  --bg-primary: var(--palette-dark-base, #000028);
  --cover-bg-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --badge-display: visible;
    --text-primary: var(--palette-light-muted, #f1b2ce);
    --brand-color: var(--palette-brand-primary, #db00ff);
    --accent-color: var(--palette-brand-secondary, #ff0070);
    --decor-color: var(--palette-brand-secondary,  #ff0070);
    --accent-alpha: var(--palette-brand-secondary-alpha, #ff007040 );
    --highlight-bg: var(--palette-dark-base, #000028);
    --bg-primary: var(--palette-dark-base, #000028);
    --cover-bg-image: url("../images/cover-image-dark.png");
  }
}