html.theme-light {
  --text-primary: var(--palette-dark-muted, #353430);
  --accent-color: var(--palette-light-bright, #ff8dcb);
  --decor-color: var(--palette-dark-muted, #353430);
  --brand-color: var(--palette-light-accent, #ffc2e6);
  --highlight-bg: var(--palette-dark-muted, #353430);
  --accent-alpha: var(--decor-color, #ff0070);
  --bg-primary: var(--palette-light-base, #fff1f7);
  --cover-bg-image: url("../images/cover-image-light.png");
  --badge-display: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary: var(--palette-dark-muted, #353430);
    --accent-color: var(--palette-light-bright, #ff8dcb);
    --decor-color: var(--palette-dark-muted, #353430);
    --brand-color: var(--palette-light-accent, #ffc2e6);
    --highlight-bg: var(--palette-dark-muted, #353430);
    --accent-alpha: var(--decor-color, #ff0070);
    --bg-primary: var(--palette-light-base, #fff1f7);
    --cover-bg-image: url("../images/cover-image-light.png");
    --badge-display: hidden;
  }
}